<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>

<style type="text/css">
             nav{
        margin-top: -600px;
        position: fixed;
        background-color: #5F9EA0;
        z-index: 99;
        position:absolute;
      }
</style>

</head>
<body>


  <nav>
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo">Compass</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/users/<%=current_user.id%>">My Compass</a></li>
        <li><a href="/sessions/<%=params[:id]%>" data-method='delete'>Logout</a></li>
      </ul>
    </div>
  </nav>


<section class="module content">
  <div class="container">
    <h1>Popular trips to <%= @destination %></h1>

      <% @trips.each do |t| %>

    <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <%= image_tag t.picture.url %>
              <span class="card-title"><%= t.description %></span>
            </div>
            <div class="card-content">
              <p>By <%= t.first_name %></p>

            <%= t.start_date.strftime("%B %d, %Y") %> - <%= t.end_date.strftime("%B %d, %Y") %></div>

            <div class="card-action">
              <a href="/trips/<%= t.id %>">View Itinerary</a>
            <%= t.u_likes %> Likes
            </div>
          </div>
        </div>
      </div>

  <% end %>
<!-- <footer class="page-footer"> -->

  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container"><br>
    <h1><%= @destination %></h1>
  </div>
</section>

<!-- <section class="module content">
  <div class="container">

  </div>
</section> -->


</body>
</html>