<!DOCTYPE html>
<html>
<head>
	<title><%= @place.location %></title>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
</head>

<style>
  *{
    margin:0px;
    padding:10px 0px;
  }

  img{
    height:400px;
  }
  nav{
    height:80px;
    margin-top: -32px;
    padding:10px 0px;
    position: fixed;
    background-color: #5F9EA0;
    z-index: 99;
  }
  .container{
    padding: 50px;
  }

</style>

<body>

  <nav>
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo">Compass</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/trips/new">Create a Trip</a></li>
        <li><a href="/sessions/<%=params[:id]%>" data-method='delete'>Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class = "container">
  <div>
  <!-- Place name & Like Place -->
    <h1><%= @place.location %></h1>
    <% if @place_like %>
		<form action='/likes/<%= @place_like.id %>' method='POST'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name = "_method" value = 'delete' type = 'hidden'>
			<input name="likeable_id" value="<%= @place.id %>" type="hidden">
			<input name="likeable_type" value="Place" type="hidden">
			<button type="submit" class="btn">Unlike</button>
		</form>
      <% else %>
      <form action='/likes' method='POST'>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="likeable_id" value="<%= @place.id %>" type="hidden">
        <input name="likeable_type" value="Place" type="hidden">
		<button type="submit" class="btn">Like</button>
      </form>
      <% end %>
  </div>

  <div class="row">
    <div class="col s5 push-s7">
      
      <div>
      <!-- upload photo, description, like photo -->
        <% @pictures.each do |p| %>
            <div class="card large">bru
              <div class="card-image">
                <%= image_tag p.picture.url %>
                <span class="card-title"><%= p.description %></span>
              </div>
              <div class="card-action">
              <% if @picture_like = Like.find_by(user_id: current_user.id, likeable_id: p.id, likeable_type: "Picture")%>
				<form action='/likes/<%= @picture_like.id %>' method='POST'>
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name = "_method" value = 'delete' type = 'hidden'>
					<input name="likeable_id" value="<%= p.id %>" type="hidden">
					<input name="likeable_type" value= "Picture" type="hidden">
					<button type="submit" class="btn">Unlike</button>
				</form>
              <% else %>
				<form action='/likes' method='POST'>
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name="likeable_id" value="<%= p.id %>" type="hidden">
					<input name="likeable_type" value="Picture" type="hidden">
					<button type="submit" class="btn">Like</button>
				</form>
              <% end %>
              </div>
            </div>
        <% end %>
      </div>

      <%= form_for @picture,  :html => {:multipart => true} do |f| %>
        <input type = 'hidden' name = 'picture[place_id]' value = "<%= @place.id %>">
        <%= f.label :picture %>
        <%= f.file_field :picture %><br>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <button type ='submit' class='btn'>Upload Picture</button>
      <% end %>
    </div>

    <div class="col s7 pull-s5"> 
      <div>
      <!-- Info about place -->
        <p>Description: <%= @place.description %></p>
        <p>Total Cost: <%= @total_cost %></p>
        <p>Date: <%= @place.datetime %></p>
      <div>

      <div>
      <!-- Cost table, add associated cost -->
        <h5>Costs Associated with This Place:</h5>
        <table>
          <tr>
            <th>Category</th>
            <th>Cost</th>
            <th>Company</th>
            <th>Description</th>
          </tr>
        <% @costs.each do |c| %>
          <tr>
            <td><%= c.category %></td>
            <td><%= c.cost %></td>
            <td><%= c.company %></td>
            <td><%= c.description %></td>
            <td>
             <% if @cost_like = Like.find_by(user_id: current_user.id, likeable_id: c.id, likeable_type: "Cost") %>
              <form action='/likes/<%= @cost_like.id %>' method='POST'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input name = "_method" value = 'delete' type = 'hidden'>
                <input name="likeable_id" value="<%= c.id %>" type="hidden">
                <input name="likeable_type" value="Cost" type="hidden">
				<button type="submit" class="btn">Unlike</button>
              </form>
            <% else %>
              <form action='/likes' method='POST'>
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input name="likeable_id" value="<%= c.id %>" type="hidden">
                <input name="likeable_type" value="Cost" type="hidden">
				<button type="submit" class="btn">Like</button>
              </form>
            <% end %>
          <% end %>
            </td>
          </tr>
        </table>
      </div>

		<div>
		<!-- Comments about place -->
			<h4>Comments:</h4>
			<% @comments.each do |c| %>
			<%= c.content %><br>
			- <%= c.user.first_name %>
			<% end %>

			<form action='/comments' method='POST'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name = "comment[content]" type = 'text'>
				<input name="comment[commentable_id]" value="<%= @place.id %>" type="hidden">
				<input name="comment[commentable_type]" value="Place" type="hidden">
				<button type="submit" class="btn">Add Comment</button>
			</form>
		</div>


      <div>
      <!-- add cost form if place belongs to current user -->
        <% if @user_id == current_user.id %>
          <form action="/costs" method="POST">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type="text" name="cost[category]" placeholder="Category (hotel, transportation, food, etc.)">
            <input type="text" name="cost[cost]" placeholder="Cost">
            <input type="text" name="cost[company]" placeholder="Company (Mariott, Greyhound, Metro)">
            <input type="text" name="cost[description]" placeholder="Description">
            <input type="hidden" name="cost[place_id]" value="<%= @place.id %>">
            <button type="submit" class="btn">Add Cost</button>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</div>


</body>
</html>